In [14]:
first_name = 'PRAKASH'
last_name = 'SENAPATI'
country = 'HYD'
city = 'TELENGANA'
age = 40087
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']

person_info = {
    'firstname':'Asabeneh', 
    'lastname':'Yetayeh', 
    'country':'Finland',
    'city':'Helsinki'
    }

print("First name:", first_name)
print("First name length:", len(first_name))

print("Last name:", last_name)
print("Last name length:", len(last_name))

print("Country:", country)
print("City:", city)

print("Age:", age)
print("Married:", is_married)

print("Skills:", skills)
print("Person information:", person_info)

First name: PRAKASH
First name length: 7
Last name: SENAPATI
Last name length: 8
Country: HYD
City: TELENGANA
Age: 40087
Married: True
Skills: ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information: {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

In [15]:
first_name, last_name, country, age, is_married = 'prakash', 'senapati', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

prakash senapati Helsink 250 True
First name: prakash
Last name:  senapati
Country:  Helsink
Age:  250
Married:  True